.large-header {
	position: relative;
	width: 100%;
	background: #111;
	z-index: 1;
}

.container .large-header {
	/* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg") no-repeat center center fixed; */
	background: url('../images/header3.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container .main-title {
	/* text-transform: uppercase; */
	font-size: 5em;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.05em;
	cursor: default;
}

.main-title p {
	padding: 0;
	margin: 0;
	animation: fadeIn 1s ease-in-out 1 normal forwards;
}

#name {
	display: inline;
	margin: 0;
	padding: 0;
	/* color: #e31b6d; */
	color: #44bccc;
	font-weight: 600;
}

/*********button***********/

.main-title a {
	outline: none;
}

#headerBtn {
	margin-top: 3rem;
	padding: 1rem 2.5rem;
	font-size: 2.5rem;
	background: transparent;
	border: 2px solid #f9f1e9;
	color: #f9f1e9;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.05em;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	outline: none;
	animation: btnFadeIn 1s ease-in-out 1 normal forwards;
}

#headerBtn:hover {
	background-color: #44bccc;
	border: 2px solid #44bccc;
}

#arrow {
	font-size: 2rem;
	margin-left: 0.5rem;
	transition: transform 0.5s ease-in-out;
}

#headerBtn:hover #arrow {
	transform: rotate(90deg);
}

/*********key-frames***************/

@keyframes fadeIn {
	0% {
		opacity: 0.3;
		transform: scale(0.7);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes btnFadeIn {
	0% {
		opacity: 0.5;
		transform: translateY(200%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/************media******************/

@media only screen and (max-width: 768px) {
	.demo .main-title {
		font-size: 3em;
	}
}

/*****sakriti scrollbar*****/

::-webkit-scrollbar {
	width: 1.3rem;
	background-color: #171a2e;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	height: 20rem;
	background: linear-gradient(to bottom, transparent, #b9c2c4ee);
}