canvas {
	display: block;
	vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
	position: absolute;
	width: 100%;
	height: calc(200vh + 3.7rem); /* podesiti koliko treba da bude minimalna visina*/
	background-color: #171a2e;
	/* background-color: #232741; */
}
