canvas {
	display: block;
	vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
	position: absolute;
	width: 100%;
	height: calc(500vh + 3.7rem);
	/* podesiti koliko treba da bude minimalna visina*/
	background-color: #171a2e;
	/* background-color: #ece8e6; */
	/* background-color: #232741; */
	/* background-color: #171a2e; ovo je pozadina */
}
